/* 
    Document   : style
    Created on : 18/06/2012, 02:28:27 PM
    Author     : mioficina.co
    Description:
        styles for manager concepts
*/

root { 
    display: block;
}

#tableGridConcepts{
    position: relative;
    width: 96%;
    left: 2%;
    height: 400px;
    margin-bottom: 5px;
}

#menuGridConcepts{
    position: relative;
    height: 34px;
    width: 100%;
    border-bottom: 1px solid #E2EDF2;
}

#menuGridConcepts div{
    border-left: 1px solid #ffffff;
    float: left;
    height: 100%;
    background-color: #0085B2;
}

#menuGridConcepts div p{
    margin-top: 7px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}


#pagination{
    position: relative;
    border-top: 1px solid #0092ef;
    height: 30px;
    width: 96%;
    left: 2%;
}

#pagination #list-pagination{
    margin-left: 100px;
}

.class-pagination-on{
    position: relative;
    border: 1px solid #0085B2;
    width: 20px;
    height: 20px;
    float: left;
    margin-top:2px;
    margin-left: 2px;
    background: #0092ef;
}
.class-pagination-on p{
    text-align: center;
    margin-top: 2px;
    color: #ffffff;
}

.class-pagination-off{
    position: relative;
    border: 1px solid #0085B2;
    width: 20px;
    height: 20px;
    float: left;
    margin-top:2px;
    margin-left: 2px;
    background: #0092ef;
    cursor: pointer;
}
.class-pagination-off p{
    text-align: center;
    margin-top: 2px;
    color: #ffffff;
}

.eachConceptGrid{
    position: relative;
    float: none;
    width: 100%;
    height: 30px;
    border: 1px solid #E2EDF2;
}

.eachConceptGrid div{
    border-left: 1px solid #E2EDF2;
    float: left;
    height: 100%;
}
.eachConceptGrid div p{
    text-align: center;
    margin-top: 4px;
}

.eachConceptGrid div p img{
    margin-top: -4px;
    cursor: pointer;
}

#info{
    position: relative;
    height: 30px;
    width: 60%;
    left: 5%;
}

#info p{
    color: red;
    margin-top: 10px;
}

.dialog{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 20;
    background-color: rgba(255,255,255, 0.9);
    top: 0px;
    left: 0px;
}

.dialog .btn-closeDialog{
    position: absolute;
    cursor: pointer;
    right: 6px;
    bottom: 6px;
    background: url('http://mioficina.co/app-front-end/resources/multimedia/images/controls-close.png');
    background-position: top center;
    width: 25px;
    height: 25px;
}

.dialog .btn-closeDialog:hover{
    background: url('http://mioficina.co/app-front-end/resources/multimedia/images/controls-close.png');
    background-position: bottom center;
}

.dialog .btn-closeDialog p{
    color: #F90;
    font-size: 1.1em;
}

#infoDialog{
    position: absolute;
    top:5px;
    height: 40px;
    width: 90%;
    left:5%;
}

#infoDialog p{
    margin-top: 10px;
    color:red;
}


.dialog .titleDialog{
    position: absolute;
    width: 90%;
    top: 5px;
    height: 30px;
}

.dialog .titleDialog p{
    color: #0085B2;
    text-align: center;
    font-size: 1.35em;
    font-weight: bold;
}

.btnActionDilog{
    position: absolute;
    width: 100%;
}

/** bar search type concept **/
#barSearchConcept{
    width: 90%;
    border: 1px solid #0085B2;
    height: 50px;
    margin-left: 5%;
    margin-bottom: 10px;
}

#titleBarSearch{
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    background: #0085B2;
}
#titleBarSearch p{
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

#sltTypeConcept{
    width: 160px;
    margin: 10px 20px;
}


/*** bar add item **/
#addConcept{
    position: relative;
    height: 30px;
    width: 90%;
    margin: 0 auto;
}

#addConcept img{
    float: right;
    cursor: pointer;
}
/*** bar add item **/


/** edit concept **/
#dlgEditConcept{
    position: absolute;
    padding:10px;
    background: #ffffff;
    top: 50px;
    left: 12%;
    width: 76%;
    height: 250px;
    border: 2px solid #ccccff;
}

#formEditConcept{
    position: absolute;
    left: 5%;
    width: 90%;
    height: 85%;
    border: 1px solid #E2EDF2;
    top: 30px;
}

#formEditConcept #frm-labelsEdit{
    position: absolute;
    left: 10px;
    width: 110px;
    height: 140px;
    top: 10px;
}

#formEditConcept #frm-labelsEdit p{
    position: absolute;
    text-align: right;
    font-weight: bold;
    width: 100%;
}

#formEditConcept #frm-fieldsEdit{
    position: absolute;
    left: 130px;
    width: 350px;
    height: 140px;
    top: 10px;
}

#formEditConcept #frm-fieldsEdit div{
    position: absolute;
    width: 100%;
}

#formEditConcept #frm-fieldsEdit div input{
    padding: 2px;
}

#formEditConcept #frm-fieldsEdit div select{
    padding: 2px;
}

#lblEditName{
    top: 25px;
}
#lblEditDescription{
    top: 55px;
}
#editFiedlName{
    top: 22px;
}
#editFiedlDescription{
    top: 52px;
}

#formEditConcept #btn-saveEditConcept{
    position: absolute;
    top: 170px;
    width: 80%;
    left: 10%;
    height: 30px;
    background: #1c94c4;
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

#formEditConcept #btn-saveEditConcept .content-buttonDialogs{
    position: absolute;
    width: 50%;
    left: 35%;
}

#formEditConcept #btn-saveEditConcept .content-buttonDialogs img{
    float: left;
}

#formEditConcept #btn-saveEditConcept .content-buttonDialogs p{
    margin-top: 5px;
    text-align: center;
    font-size: 1.32em;
    font-weight: bold;
    color: #ffffff;
    left: 30px;
    float: left;
}

#formEditConcept #btn-saveEditConcept:hover{
    cursor: pointer;
    background: #0092ef;
}

/*** dialog add concept ***/

#dlgAddConcept{
    position: absolute;
    padding:10px;
    background: #ffffff;
    top: 50px;
    left: 12%;
    width: 76%;
    height: 280px;
    border: 2px solid #ccccff;
}

#infoDialogAdd{
    position: absolute;
    width: 90%;
    left: 10%;
    top: 130px;
    height: 20px;
}

#infoDialogAdd p{
    color: #ff3333;
}

#infoDlgAddConcept{
    position: absolute;
    top: 10px;
    left: 330px;
}
#infoDlgAddConcept p{
    color: #ff3333;
}

#formAddConcept #frm-labelsAdd{
    position: absolute;
    left: 10px;
    width: 110px;
    height: 330px;
    top: 10px;
}

#formAddConcept #frm-labelsAdd p{
    position: absolute;
    text-align: right;
    font-weight: bold;
    width: 100%;
}

#lblAddName{
    top: 27px;
}
#lblAddDescription{
    top: 57px;
}

#lblAddTypeConcept{
    top: 87px;
}

#formAddConcept #frm-fieldsAdd{
    position: absolute;
    left: 130px;
    width: 350px;
    height: 330px;
    top: 10px;
}

#formAddConcept #frm-fieldsAdd div{
    position: absolute;
    width: 100%;
}

#formAddConcept #frm-fieldsAdd div input{
    padding: 2px;
}

#formAddConcept #frm-fieldsAdd div select{
    padding: 2px;
}

#addFiedlName{
    top: 25px;
}
#addFiedlDescription{
    top: 55px;
}

#addFiedlTypeConcept{
    top: 85px;
}

#btn-saveAddConcept{
    position: absolute;
    top: 230px;
    width: 80%;
    left: 10%;
    height: 30px;
    background: #1c94c4;
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

#btn-saveAddConcept .content-buttonDialogs{
    position: absolute;
    width: 50%;
    left: 35%;
}

#btn-saveAddConcept .content-buttonDialogs img{
    float: left;
}

#btn-saveAddConcept .content-buttonDialogs p{
    margin-top: 5px;
    text-align: center;
    font-size: 1.32em;
    font-weight: bold;
    color: #ffffff;
    left: 30px;
    float: left;
}

#btn-saveAddConcept:hover{
    cursor: pointer;
    background: #0092ef;
}


/*********loading **********/

.loadingProcess{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 30;
    background-color: rgba(255,255,255, 0.9);
    top: 0px;
    left: 0px;
}

#processLoadingContent{
    position: relative;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    margin-top: 250px;
}

#imgLoadingProccess{
    position: relative;
    margin: 0 auto;
}

#lblLoadingProccess{
    position: relative;
    margin: 0 auto;
    color: #0085B2;
    margin-left: 70px;
}